@mixin card() {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  word-break: break-word;
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.05);
  }
}

.remote {
  display: flex;
  flex-wrap: wrap;

  &-todo {
    @include card;
    background-color: bisque;
  }

  &-user {
    @include card;
    background-color: indianred;
  }
}
